@import '@fontsource-variable/manrope';
@import '@fontsource-variable/inter';
@import 'tailwindcss';

@theme {
    --font-heading: 'Manrope Variable', sans-serif;
    --font-sans: 'Inter Variable', sans-serif;

    /* Brand */
    --color-brand-50: #f7f5ff;
    --color-brand-100: #eee9ff;
    --color-brand-200: #ddd3ff;
    --color-brand-300: #c4b2ff;
    --color-brand-400: #a486ff;
    --color-brand-500: #835df5;
    --color-brand-600: #6d3fe3;
    --color-brand-700: #5930bd;
    --color-brand-800: #492a98;
    --color-brand-900: #3d277b;

    /* Navy */
    --color-navy-50: #f5f7fb;
    --color-navy-100: #e9edf5;
    --color-navy-200: #ccd5e5;
    --color-navy-300: #a4b3cc;
    --color-navy-400: #768baa;
    --color-navy-500: #566b8c;
    --color-navy-600: #40526f;
    --color-navy-700: #34435b;
    --color-navy-800: #202b45;
    --color-navy-900: #141b33;
    --color-navy-950: #0b1022;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: var(--font-sans) sans-serif;
    color: var(--color-navy-900);
    background: #ffffff;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    ::selection {
        background: var(--color-brand-200);
        color: var(--color-navy-950);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading), serif;
}
